{% extends "base/head.html" %}
{% block content %}


    <!-- Page Heading -->
    <div class="row">
        <div class="col-md-12">
            <img src="static/images/logo.png" alt=""
                 style="margin-top: 2%; border: none !important; box-shadow: none !important;">
            <br>
            <br>

        </div>

    </div>

    <!-- Simple Post -->






    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">


                <h4 style="text-align: center;"><em style="color: rebeccapurple"> <br>
                    <br>Collaborative Research and
                    Development Project between UIT University and Dow University of Health Sciences<br></em></h4>
                <br>
                <br>
                <img src="static/images/team.jpg" alt="">
            </div>
        </div>
    </div>

    <br>
    <h4 style="text-align: center;"><em style="color: rebeccapurple">MAKKHIMETER: The Joint Software Development
        Team
        <br></em></h4>

    <p align="justify"><br>
        The Department of Computer Science at UIT University, comprising both faculty members and students, has
        developed a cutting-edge software solution called <strong>MAKKHIMETER</strong>. This software has been
        successfully deployed
        at the Fly Lab of Dow University of Health Sciences, representing a significant milestone in the
        collaboration between these two esteemed institutions.</p>




{% endblock %}