{% extends "base/head.html" %}
{% block content %}


    <!-- Page Heading -->
    <div class="row">
        <div class="col-md-12">
            <img src="static/images/logo.png" alt=""
                 style="margin-top: 2%; border: none !important; box-shadow: none !important;">
            <br>
            <br>

        </div>

    </div>

    <!-- Simple Post -->






    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">


                <h4 style="text-align: center;"><em style="color: rebeccapurple"> <br>
                    <br>Collaborative Research and
                    Development Project between UIT University and Dow University of Health Sciences<br></em></h4>
                <br>
                <br>
                <img src="static/images/team.jpg" alt="">
            </div>
        </div>
    </div>

    <br>
    <h4 style="text-align: center;"><em style="color: rebeccapurple">MAKKHIMETER: The Joint Software Development
        Team
        <br></em></h4>

    <p align="justify"><br>
        </p><br>
    <br>


    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="static/images/mushtaq.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="name">Prof.Dr.Mushtaq Hussain</h3>
                        <h4 class="title">Professor & Principal <br> Dow College of Biotechnology, <br>Dow University
                            of Health Sciences</h4>
                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="static/images/mwaseem.png">
                    </div>
                    <div class="team-content">
                        <h3 class="name">Dr.Muhammad Wasim</h3>
                        <h4 class="title">Assistant Professor & Coordinator <br> Department of Computer Science, <br>
                            UIT University</h4>
                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="static/images/urooj.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="name">Dr.Urooj Javed</h3>
                        <h4 class="title">Assistant Professor <br> Dow College of Biotechnology, <br> Dow University
                            of Health Sciences</h4>
                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="static/images/shaiz.png">
                    </div>
                    <div class="team-content">
                        <h3 class="name">Shaiz Akber</h3>
                        <h4 class="title">AI Developer, <br> Undergraduate BSCS, <br> UIT University</h4>
                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="static/images/wahab.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="name">Abdul Wahab Butt</h3>
                        <h4 class="title">Software Developer, <br> Undergraduate BSCS, <br> UIT University</h4>
                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="static/images/huzaifa.png">
                    </div>
                    <div class="team-content">
                        <h3 class="name">Muhammad Huzaifa</h3>
                        <h4 class="title">AI Developer, <br> Undergraduate BSCS, <br> UIT University</h4>
                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="static/images/imran.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="name">Imran Riaz Chohan</h3>
                        <h4 class="title">AI Developer, <br> Undergraduate BSCS, <br> UIT University</h4>
                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="static/images/mehad.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="name">Mehad Bin Naveed</h3>
                        <h4 class="title">Software Developer, <br> Undergraduate BSCS, <br> UIT University</h4>
                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="static/images/sukena.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="name">Sukaina Arshad</h3>
                        <h4 class="title">Data Acquisition, <br> Undergraduate Student, <br> Dow College of Biotechnology, <br> Dow University
                            of Health Sciences</h4>
                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="static/images/anisa.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="name">Anisa Mahmood</h3>
                        <h4 class="title">Data Acquisition, <br> Undergraduate Student, <br> Dow College of Biotechnology, <br> Dow University
                            of Health Sciences</h4>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}