{% extends "base/head.html" %}
{% block content %}


    <!-- Page Heading -->
    <div class="page-heading">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="container">
                        <div class="horizontal">
                            <div class="verticals ten offset-by-one">

                                <ol class="breadcrumb breadcrumb-fill2">
                                    <li><a href="/"><i class="fa fa-home"></i></a></li>
                                    <li class="active">Eye Dimensions</li>
                                </ol>
                            </div>
                            <h1>Eye Dimensions</h1>
                        </div>
                    </div>
                    <br>
                    <br>


                    <p align="justify">The Drosophila eye has been widely studied as a model for understanding the
                        genetic and molecular
                        mechanisms underlying eye development and function. Its relatively simple structure and genetics
                        make it an ideal system for investigating the mechanisms of pattern formation, cell fate
                        specification, and differentiation.
                        The compound eye of Drosophila is a fascinating structure, consisting of approximately 750
                        identical units called ommatidia. Each ommatidium contains eight photoreceptor cells and
                        support cells, which are responsible for detecting light and transmitting signals to the
                        brain. The arrangement of ommatidia varies depending on the Drosophila species, but in
                        general, they form a hexagonal lattice.
                    </p>
                    <br>
                    <br>
                    <div class="down-content">

                        <strong>
                            <p align="justify" style="color:#626ad1; font-weight: bold; font-size:18px;">
                                The Eye Dimension module is an important component of our Drosophila analysis web
                                application. With this module, users can easily obtain the area and perimeter
                                measurements
                                of a Drosophila eye by uploading an image of the eye. The application will quickly
                                calculate
                                the eye's dimensions and generate a highlighted image that clearly outlines the eye's
                                boundaries, making it easier for researchers to analyze its features. By providing quick
                                and
                                accurate measurements of Drosophila eyes, the Eye Dimension module helps researchers to
                                streamline their analysis and reduce the potential for errors.
                            </p>
                        </strong>
                    </div>
                    <section class="simple-post">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="static/images/eyes2.jpg" alt="">


                                </div>
                            </div>


                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <!-- Simple Post -->


    <div class="filled-radius-button">
        <a href="/e_dimen2">Proceed</a>
    </div>


{% endblock %}