{% extends "base/head.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <div class="horizontal">
                    <div class="verticals ten offset-by-one">

                        <ol class="breadcrumb breadcrumb-fill2">
                            <li><a href="/"><i class="fa fa-home"></i></a></li>
                            <li><a href="/e_dimen">Eye Dimensions</a></li>
                            <li><a> / </a></li>
                            <li><a href="/e_dimen2">Input</a></li>
                            <li><a> / </a></li>
                            <li class="active">Results</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .column {
            float: left;
            width: 50%;
            padding: 5px;
        }

        /* Clear floats after image containers */
        .row::after {
            content: "";
            clear: both;
            display: table;
        }
    </style>
    <br>

    <br>
    <div class="row">
        <div class="column">
            <h2>Original Image</h2>
            <br>
            <div class="col-md-10">
                <img src="{{ orig }}" alt="Snow" style="width:100%">
            </div>
        </div>
        <div class="column">
            <h2>Highlighted Eye Image</h2>
            <br>
            <div class="col-md-10">
                <img src="{{ dil }}" alt="Forest" style="width:100%">
            </div>
        </div>
    </div>

    <!-- Tables -->

    <div class="alternate-table">
        <table>
            <thead>
            <tr>
                <th>Area in Micrometer²</th>
                <th>Perimeter in Micrometer</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ Ar }}</td>
                <td>{{ Pr }}</td>
            </tr>

            </tbody>
        </table>
    </div>
    <br>
    <br>

    <section class="forms">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Feedback</h2>
                    </div>
                    <form id="contact" action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <p>We're always striving to improve our service. The results were: </p>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="circle-item">
                                    <input name="demo-priority" type="radio" id="demo-small" value="A"
                                           checked>
                                    <label for="demo-small">Very Satisfied</label>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="circle-item">
                                    <input name="demo-priority" type="radio" id="demo-medium" value="B">
                                    <label for="demo-medium">Somewhat Satisfied</label>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="circle-item">
                                    <input name="demo-priority" type="radio" id="demo-old" value="C">
                                    <label for="demo-old">Not Satisfied</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="border-icon-button">
                                <button type="submit" name="feedback"><i class="fa fa-check"></i>Send feedback</button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </section>



{% endblock %}
