{% extends "base/head.html" %}
{% block content %}


    <!-- Page Heading -->
    <div class="page-heading">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="container">
                        <div class="horizontal">
                            <div class="verticals ten offset-by-one">

                                <ol class="breadcrumb breadcrumb-fill2">
                                    <li><a href="/"><i class="fa fa-home"></i></a></li>
                                    <li class="active">Eye Colour</li>
                                </ol>
                            </div>
                            <h1>Eye Colour</h1>
                        </div>
                    </div>
                    <br>
                    <br>

                    <p align="justify"> The color of the eye is determined by the presence of different pigments
                        produced by specialized
                        cells called ommochrome cells. These pigments are synthesized from amino acids through a series
                        of enzymatic reactions. The production of pigments is regulated by a group of genes called the
                        pigmentation pathway genes. Mutations in these genes can result in changes in eye color or even
                        complete loss of pigmentation.
                        Eye color in Drosophila can also be influenced by environmental factors such as temperature,
                        diet, and exposure to certain chemicals or radiation. In addition, eye color can change during
                        the fly's lifetime as a result of aging or injury. The changes in eye color are often associated
                        with changes in pigmentation gene expression.


                    </p>
                    <br>
                    <br>
                    <div class="down-content">
                        <strong>
                            <p align="justify" style="color:#626ad1; font-weight: bold; font-size:18px;">
                                Easily upload your Drosophila eye images and get precise color data with our automated
                                analysis system. Our tool can detect and analyze four common eye colors and provide
                                detailed
                                pie charts with color names and percentages, as well as RGB sum data for each color.

                                In addition to color visualization, we provide a comprehensive table with hex values,
                                pixel
                                values, and RGB values, making it easy to analyze your data.
                            </p>
                        </strong>
                    </div>
                    <section class="simple-post">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="static/images/eyes1.jpg" alt="">


                                </div>
                            </div>


                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>

    <!-- Simple Post -->

    <div class="filled-radius-button">
        <a href="col2">Proceed</a>
    </div>


{% endblock %}