{% extends "base/head.html" %}
{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <div class="horizontal">
                    <div class="verticals ten offset-by-one">

                        <ol class="breadcrumb breadcrumb-fill2">
                            <li><a href="/"><i class="fa fa-home"></i></a></li>
                            <li><a href="/eye_col">Eye Colour</a></li>
                            <li><a> / </a></li>
                            <li><a href="/col2">Input</a></li>
                            <li><a> / </a></li>
                            <li class="active">Results</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="right-image">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="left-content">

                        <h2>Eye Colour</h2>
                        <br><br>

                        <div class="col-md-10">
                            <img src="{{ img }}">
                        </div>

                        <br>
                        <br>
                        <h2> Dominant Colour: <em style="color: rebeccapurple"> {{ main }} </em></h2>


                    </div>

                </div>


                <div class="col-md-6">

                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="card-body">
                        <h5 class="card-title">Main colours </h5>

                        <!-- Pie Chart -->
                        <div id="pieChart"
                             style="min-height: 450px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;"
                             class="echart" _echarts_instance_="ec_1679850190663">
                            <div style="position: relative; width: 467px; height: 400px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;">
                                <canvas data-zr-dom-id="zr_0" width="700" height="600"
                                        style="position: absolute; left: 0px; top: 0px; width: 467px; height: 400px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas>
                            </div>
                            <div class=""
                                 style="position: absolute; display: block; border-style: solid; white-space: nowrap; z-index: 9999999; box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 10px; transition: opacity 0.2s cubic-bezier(0.23, 1, 0.32, 1) 0s, visibility 0.2s cubic-bezier(0.23, 1, 0.32, 1) 0s, transform 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s; background-color: rgb(255, 255, 255); border-width: 1px; border-radius: 4px; color: rgb(102, 102, 102); font: 14px / 21px &quot;Microsoft YaHei&quot;; padding: 10px; top: 0px; left: 0px; transform: translate3d(181px, 199px, 0px); border-color: rgb(84, 112, 198); pointer-events: none; visibility: hidden; opacity: 0;">
                                <div style="margin: 0px 0 0;line-height:1;">
                                    <div style="font-size:14px;color:#666;font-weight:400;line-height:1;">Access From
                                    </div>
                                    <div style="margin: 10px 0 0;line-height:1;">
                                        <div style="margin: 0px 0 0;line-height:1;"><span
                                                style="display:inline-block;margin-right:4px;border-radius:10px;width:10px;height:10px;background-color:#5470c6;"></span><span
                                                style="font-size:14px;color:#666;font-weight:400;margin-left:2px">Search Engine</span><span
                                                style="float:right;margin-left:20px;font-size:14px;color:#666;font-weight:900">1,048</span>
                                            <div style="clear:both"></div>
                                        </div>
                                        <div style="clear:both"></div>
                                    </div>
                                    <div style="clear:both"></div>
                                </div>
                            </div>
                        </div>

                        <script>
                            // Convert the data dictionary to JSON format
                            const data = JSON.parse('{{ data|safe }}');

                            // Extract the data from the JSON object
                            const labels = data.labels;
                            const values = data.values;
                            const colors = data.colors;

                            document.addEventListener("DOMContentLoaded", () => {
                                echarts.init(document.querySelector("#pieChart")).setOption({
                                    title: {
                                        text: 'Colour Distribution',
                                        subtext: 'Usually four (4)',
                                        left: 'center'
                                    },
                                    tooltip: {
                                        trigger: 'item'
                                    },
                                    legend: {
                                        orient: 'vertical',
                                        left: 'left'
                                    },
                                    series: [{
                                        name: '',
                                        type: 'pie',
                                        radius: '60%',
                                        data: [
                                            {
                                                value: values[0],
                                                name: labels[0],
                                                itemStyle: {color: colors[0]} // set the color for this data item
                                            },
                                            {
                                                value: values[1],
                                                name: labels[1],
                                                itemStyle: {color: colors[1]} // set the color for this data item
                                            },
                                            {
                                                value: values[2],
                                                name: labels[2],
                                                itemStyle: {color: colors[2]} // set the color for this data item
                                            },
                                            {
                                                value: values[3],
                                                name: labels[3],
                                                itemStyle: {color: colors[3]} // set the color for this data item
                                            }
                                        ],
                                        emphasis: {
                                            itemStyle: {
                                                shadowBlur: 10,
                                                shadowOffsetX: 0,
                                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                                            }
                                        }
                                    }]
                                });
                            });
                        </script>

                        <!-- End Pie Chart -->

                    </div>
                </div>


                <div class="col-md-7">

                    <div class="alternate-table">
                        <table>
                            <thead>
                            <tr>
                                <th>Colour Name</th>
                                <th>Hex Value</th>
                                <th>
                                    <div class="slider-header" data-color="red">
                                        .
                                    </div>
                                </th>
                                <th>
                                    <div class="slider-header" data-color="green">
                                        .
                                    </div>
                                </th>
                                <th>
                                    <div class="slider-header" data-color="blue">
                                        .
                                    </div>
                                </th>
                                <th>Percentage</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if d %}
                                {% for row in d %}
                                    <tr>
                                        <td>{{ row.labels }}</td>
                                        <td>{{ row.colors }}</td>
                                        <td>{{ row.R }}</td>
                                        <td>{{ row.G }}</td>
                                        <td>{{ row.B }}</td>

                                        <td>{{ row.percentages }}%</td>

                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="col-md-5">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <!-- First Pie Chart -->
                        <div id="pieChart1"
                             style="min-height: 450px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;"
                             class="echart"></div>

                        <!-- Second Pie Chart -->


                        <script>
                            // Data for the first pie chart
                            {#const data1 = {#}
                            {#    labels: ['Red', 'Blue', 'Green', 'Yellow'],#}
                            {#    values: [15, 30, 45, 10],#}
                            {#    colors: ['#FF0000', '#0000FF', '#008000', '#FFFF00']};#}

                            // Convert the data dictionary to JSON format
                            const data2 = JSON.parse('{{ data2|safe }}');

                            // Extract the data from the JSON object
                            const r = data2.R;
                            const g = data2.G;
                            const b = data2.B;
                            const sum = r + g + b;
                            const normalizedR = (r / sum) * 100;
                            const normalizedG = (g / sum) * 100;
                            const normalizedB = (b / sum) * 100;
                            const per = (r + g + b) / 3;
                            const roundedPer = per.toFixed(2);

                            {#const rr = per.toFixed(2);#}
                            {#const rg = per.toFixed(2);#}
                            {#const rb = per.toFixed(2);#}


                            document.addEventListener("DOMContentLoaded", () => {
                                // Initialize the first pie chart
                                echarts.init(document.querySelector("#pieChart1")).setOption({

                                    title: {
                                        text: 'RGB Distribution',
                                        subtext: '',
                                        left: 'center'
                                    },
                                    tooltip: {
                                        trigger: 'item'
                                    },
                                    legend: {
                                        orient: 'vertical',
                                        left: 'left'
                                    },

                                    series: [{
                                        name: '',
                                        type: 'pie',
                                        radius: '40%',
                                        data: [
                                            {
                                                value: r,
                                                name: 'Red ' + normalizedR.toFixed(2) + '%',
                                                itemStyle: { // define the style for this data item
                                                    color: {
                                                        type: 'linear',
                                                        x: 0,
                                                        y: 0,
                                                        x2: 0,
                                                        y2: 1,
                                                        colorStops: [
                                                            {offset: 0, color: 'white'}, // set the color at the start of the gradient
                                                            {offset: 1, color: 'red'} // set the color at the end of the gradient
                                                        ]
                                                    }
                                                }
                                            },
                                            {
                                                value: g,
                                                name: 'Green ' + normalizedG.toFixed(2) + '%',
                                                itemStyle: {
                                                    color: {
                                                        type: 'linear',
                                                        x: 0,
                                                        y: 0,
                                                        x2: 0,
                                                        y2: 1,
                                                        colorStops: [
                                                            {offset: 0, color: 'white'},
                                                            {offset: 1, color: 'green'}
                                                        ]
                                                    }
                                                }
                                            },
                                            {
                                                value: b,
                                                name: 'Blue ' + normalizedB.toFixed(2) + '%',
                                                itemStyle: {
                                                    color: {
                                                        type: 'linear',
                                                        x: 0,
                                                        y: 0,
                                                        x2: 0,
                                                        y2: 1,
                                                        colorStops: [
                                                            {offset: 0, color: 'white'},
                                                            {offset: 1, color: 'blue'}
                                                        ]
                                                    }
                                                }
                                            }
                                        ],

                                        emphasis: {
                                            itemStyle: {
                                                shadowBlur: 10,
                                                shadowOffsetX: 0,
                                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                                            }
                                        }
                                    }]
                                });
                            });
                        </script>

                        <!-- End Pie Chart -->
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="forms">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Feedback</h2>
                    </div>
                    <form id="contact" action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <p>We're always striving to improve our service. The results were: </p>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="circle-item">
                                    <input name="demo-priority" type="radio" id="demo-small" value="A"
                                           checked>
                                    <label for="demo-small">Very Satisfied</label>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="circle-item">
                                    <input name="demo-priority" type="radio" id="demo-medium" value="B">
                                    <label for="demo-medium">Somewhat Satisfied</label>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="circle-item">
                                    <input name="demo-priority" type="radio" id="demo-old" value="C">
                                    <label for="demo-old">Not Satisfied</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="border-icon-button">
                                <button type="submit" name="feedback"><i class="fa fa-check"></i>Send feedback</button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </section>
    <!-- Include jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include jQuery UI library -->
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>

    <!-- Include jQuery UI CSS -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Loop through all slider and slider-header elements
        $(".slider, .slider-header").each(function () {
            // Get the element and its color
            var element = $(this);
            var color = element.data("color");

            // Set the background gradient
            element.css("background", "linear-gradient(to right, white, " + color + ", rgba(0,0,0,0.7))");

            if (element.hasClass("slider")) {
                // If the element is a slider, set the value and position
                var value = element.data("value");

                // Set the slider value
                var sliderValue = element.find(".slider-value");
                sliderValue.text(value).css("font-weight", "bold");

                // Set the slider position
                var min = 0;
                var max = 255;
                var position = (value - min) / (max - min) * 100;
                element.children().css("left", position + "%");
            }
        });
    </script>




{% endblock %}

