django>=4.1.3
pillow>=9.2.0
opencv-python>=4.6.0.66
numpy>=1.21.5
keras>=2.11.0
pandas>=1.4.4
matplotlib>=3.5.3
scikit-image>=0.19.3
tensorflow
keras-preprocessing
scikit-learn
django-extensions
django-admin-interface
reportlab