{% extends "base/head.html" %}
{% block content %}


    <!-- Page Heading -->
    <div class="page-heading">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="container">
                        <div class="horizontal">
                            <div class="verticals ten offset-by-one">

                                <ol class="breadcrumb breadcrumb-fill2">
                                    <li><a href="/"><i class="fa fa-home"></i></a></li>
                                    <li class="active">Eye Ommatidium</li>
                                </ol>
                            </div>
                            <h1>Eye Ommatidium</h1>
                        </div>
                    </div>
                    <br>
                    <br>


                    <p align="justify">The Drosophila eye is a compound eye, which is made up of many identical subunits
                        called
                        ommatidia. Each ommatidium is a functional unit that contains a lens, pigment cells, and eight
                        photoreceptor cells. The photoreceptor cells are arranged in a specific pattern and are
                        responsible for detecting light and transmitting visual signals to the brain.
                        The arrangement of ommatidia in the Drosophila eye is highly organized and follows a repeating
                        hexagonal pattern. This organization is thought to help the fly detect and track movement in its
                        environment more efficiently. The number of ommatidia in the Drosophila eye varies between
                        different species of the fly, but in general, the number is in the range of 500 to 800.
                    </p>
                    <br>
                    <br>
                    <div class="down-content">
                        <strong>
                            <p align="justify" style="color:#626ad1; font-weight: bold; font-size:18px;">
                                The Eye Ommatidium Count module is an essential part of our Drosophila analysis web
                                application. With this module, researchers can easily determine the number of ommatidia
                                in a
                                specific region of a Drosophila eye by uploading an image of the eye. The application
                                will
                                automatically calculate the ommatidium count for the selected region, enabling
                                researchers
                                to obtain valuable insights into the structure and organization of the Drosophila eye.
                            </p>
                        </strong></div>
                    <section class="simple-post">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="static/images/omatidum.jpg" alt="">


                                </div>
                            </div>


                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <!-- Simple Post -->


    <div class="filled-radius-button">
        <a href="/e_omat2">Proceed</a>
    </div>


{% endblock %}