{% extends "base/head.html" %}

{% block content %}

    <div id="page-content">

        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <div class="horizontal">
                        <div class="verticals ten offset-by-one">
                            <ol class="breadcrumb breadcrumb-fill2">
                                <li><a href="/"><i class="fa fa-home"></i></a></li>
                                <li><a href="/w_shape">Wing Shape</a></li>
                                <li><a> / </a></li>
                                <li class="active">Input</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <section class="forms">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-10">
                                <h2>Wing Shape</h2>
                                <br>
                                <p align="justify">For optimal results, we recommend uploading an image that is clear,
                                    well-lit, and
                                    free from any visual distractions such as background clutter or image noise.
                                    <br><br>
                                    This module is designed to identify if a wing is normal or mutated. This module also
                                    provides information about the type of mutation if a
                                    mutation is detected in the wing.<br><br>
                                </p>
                                <div class="section-heading">

                                </div>
                                <form id="contact upload-form" method="post" name='upload'
                                      enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <fieldset>
                                                {% csrf_token %}
                                                <label for="img">Select image:</label>
                                                <input type="file" id="img" name="img" accept="image/*" required=""
                                                       style="padding-top: 25px; padding-bottom: 75px">

                                                <p>Accepted formats include <em>JPG</em>, <em>JPEG</em>,<em> TIF</em>
                                                    and <em>PNG</em>.</p>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-12">
                                            <button type="submit" id="uploadBtn" name="shape" class="uploadBtn"> Upload
                                            </button>
                                        </div>
                                        <button class="btn btn-primary" type="button" disabled id="waitBtn"
                                                style="display: none">
                                            <span class="spinner-border spinner-border-sm" role="status"
                                                  aria-hidden="true"></span>
                                            <span class="visually-hidden">Please wait...</span>
                                        </button>
                                    </div>
                                </form>
                                <br>
                                <br>
                                <h2>{{ out1 }}<em style="color: rebeccapurple">{{ ans1 }}</em>{{ out2 }}</h2>
                                <h4><a href="feedback">{{ out3 }}</a></h4>
                                <br>
                                <h4>{{ out4 }}</h4>
                                <h2><em style="color: rebeccapurple"> {{ ans }} </em> {{ out }}</h2>
                                <br>
                                <h4><em style="color: rebeccapurple"> {{ sub_class }} <br> </em> {{ key }}</h4>
                                <h4><a href="feedback">{{ out3 }}</a></h4>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-6">
                <section class="forms">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>{{ img_name }}</h2>
                                <br>
                                <div class="img-container">
                                    <img src="{{ img_path }}" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>


            <style>
                .img-container {
                    max-width: 400px; /* set the maximum width you want */
                    margin: auto; /* center the container */
                }

                .img-container img {
                    max-width: 100%; /* make the image responsive */
                    height: auto; /* auto-adjust the height */
                }
            </style>


        </div>
    </div>
{% endblock %}
