{% extends "base/head.html" %}
{% block content %}


    <!-- Page Heading -->
    <div class="page-heading">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="container">
                        <div class="horizontal">
                            <div class="verticals ten offset-by-one">

                                <ol class="breadcrumb breadcrumb-fill2">
                                    <li><a href="/"><i class="fa fa-home"></i></a></li>
                                    <li class="active">Wing Shape</li>
                                </ol>
                            </div>
                            <h1>Wing Shape</h1>
                        </div>
                    </div>
                    <br>
                    <br>


                    <p align="justify">Drosophila flies are a widely used model organism in genetic and developmental
                        studies, and the
                        ability to accurately detect and classify mutations is crucial for further research. With this
                        module, researchers can quickly and easily identify and classify mutations in their flies,
                        streamlining their research process and allowing for more targeted investigations into the
                        underlying genetic and developmental processes.The mutation detection and classification process
                        is powered by a combination of advanced
                        image processing algorithms and machine learning models, ensuring high accuracy and
                        reliability. </p>
                    <br>
                    <bR>
                    <div class="down-content">

                        <strong>
                            <p align="justify" style="color:#626ad1; font-weight: bold; font-size:18px;">This module of
                                the web application is dedicated to detecting and
                                classifying mutations in
                                Drosophila flies. By analyzing images of the fly, the application can accurately
                                determine
                                if the fly is normal or if it exhibits any mutations. If the fly is mutated, the
                                application
                                can further classify the type of mutation that is present.</p>
                        </strong>
                    </div>

                    <section class="simple-post">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="static/images/class.jpg" alt="">

                                </div>
                            </div>


                        </div>
                    </section>

                </div>
            </div>
        </div>

    </div>

    <!-- Simple Post -->


    <div class="filled-radius-button">
        <a href="/w_shape2">Proceed</a>
    </div>


{% endblock %}