{% extends "base/head.html" %}
{% block content %}


    <!-- Page Heading -->
    <div class="page-heading">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="container">
                        <div class="horizontal">
                            <div class="verticals ten offset-by-one">

                                <ol class="breadcrumb breadcrumb-fill2">
                                    <li><a href="/"><i class="fa fa-home"></i></a></li>
                                    <li class="active">Ring Assay</li>
                                </ol>
                            </div>
                            <h1>Ring Assay</h1></div>
                    </div>
                    <br>
                    <br>


                    <p align="justify"> The Drosophila Ring Assay is a significant technique used to assess climbing
                        behavior and geotaxis response in fruit flies. It involves placing the flies in vertical test
                        tubes lined with agar and measuring their climbing distance, which provides insights into their
                        motor function and coordination. This assay is instrumental in genetic studies, disease
                        modeling, and drug screening, allowing researchers to identify gene mutations, understand
                        neurobiological mechanisms, and discover potential therapies for neurological disorders. Its
                        simplicity and reproducibility make it an indispensable tool for gaining comprehensive insights
                        into Drosophila behavior and its implications in various fields of research.
                    </p>
                    <br>
                    <br>
                    <div class="down-content">
                        <strong>
                            <p align="justify" style="color:#626ad1; font-weight: bold; font-size:18px;">
                                Drosophila Ring Assay module
                                measures the distance of flies from the bottom to the top of a test tube. By uploading
                                an image, the application automatically detects and circles each fly, assigning a unique
                                number and displaying their respective height values in a convenient table. </p>

                        </strong>
                    </div>


                    <!-- Simple Post -->
                    <section class="simple-post">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">

                                    <img src="static/images/ring.jpg" alt="">

                                </div>
                            </div>


                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>



    <div class="filled-radius-button">
        <a href="/ring_assay2">Proceed</a>
    </div>

{% endblock %}