{% extends "base/head.html" %}
{% block content %}


    <!-- Page Heading -->
    <div class="page-heading">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="container">
                        <div class="horizontal">
                            <div class="verticals ten offset-by-one">

                                <ol class="breadcrumb breadcrumb-fill2">
                                    <li><a href="/"><i class="fa fa-home"></i></a></li>
                                    <li class="active">Wing Bristles</li>
                                </ol>
                            </div>
                            <h1>Wing Bristles</h1>
                        </div>
                    </div>
                    <br>
                    <br>

                    <p align="justify"> Bristles on the Drosophila wing are not just decorative structures; they serve
                        several
                        important functions in the fly's life cycle. Bristles on the wing margin help the fly to
                        maintain its position while perched, while bristles on the wing surface provide sensory
                        information that is critical for the fly's ability to navigate and avoid obstacles during
                        flight. The number and distribution of bristles on the wing are controlled by a complex
                        interplay of genetic and environmental factors, making the Drosophila wing an ideal model
                        system for studying the development and evolution of these structures.
                    </p>
                    <br>
                    <br>
                    <div class="down-content">
                        <strong>
                            <p align="justify" style="color:#626ad1; font-weight: bold; font-size:18px;">
                                The Bristle
                                Counting module is an essential component of our web application,
                                designed to assist researchers in analyzing the bristle count within a
                                custom region of the Drosophila wing. Using this module, researchers can
                                select a region of interest within an uploaded image of the Drosophila
                                wing and obtain an accurate count of the number of bristles present
                                within that region.</p>

                        </strong>
                    </div>


                    <!-- Simple Post -->
                    <section class="simple-post">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">

                                    <img src="static/images/bristles.jpg" alt="">

                                </div>
                            </div>


                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>



    <div class="filled-radius-button">
        <a href="/w_bristles2">Proceed</a>
    </div>


{% endblock %}