{% extends "base/head.html" %}
{% block content %}
    <br>
    <Br>
    <section class="section dashboard" style="padding-bottom: 40px;">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-xxl-4 col-md-12">
                        <div class="card info-card revenue-card">


                            <!-- <div class="card-body">
                                <h5 class="card-title">Total number of users <span
                                        style="color: #198754">| Active</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-currency-dollar"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>47</h6>

                                    </div>
                                </div>
                            </div> -->

                        </div>
                    </div><!-- End Revenue Card -->
                    <!-- Sales Card -->
                    <div class="col-xxl-4 col-md-4">
                        <div class="card info-card sales-card">


                            <div class="card-body">
                                <h5 class="card-title">Area <span style="color: #198754">| Average</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-cart"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{ area_avg }}</h6>


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Sales Card -->

                    <!-- Revenue Card -->
                    <div class="col-xxl-4 col-md-4">
                        <div class="card info-card revenue-card">


                            <div class="card-body">
                                <h5 class="card-title">Perimeter <span style="color: #198754">| Average</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-currency-dollar"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{ peri_avg }}</h6>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Revenue Card -->
                    <div class="col-xxl-4 col-md-4">
                        <div class="card info-card revenue-card">


                            <div class="card-body">
                                <h5 class="card-title">Ommatidium <span style="color: #198754">| Average</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-currency-dollar"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{ omm_avg }}</h6>


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Revenue Card -->


                    <!-- Customers Card -->


                </div>
            </div><!-- End Reports -->


        </div>


        <!-- Budget Report -->

    </section>










    <section class="section">
        <div class="row">


            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Min and Max of Perimeter</h5>

                        <!-- Bar Chart -->
                        <canvas id="barChart"
                                style="max-height: 400px; display: block; box-sizing: border-box; height: 232.667px; width: 466.667px;"
                                width="700" height="349"></canvas>
                        <script>
                            document.addEventListener("DOMContentLoaded", () => {
                                new Chart(document.querySelector('#barChart'), {
                                    type: 'bar',
                                    data: {
                                        labels: ['Min', 'Max'],
                                        datasets: [{
                                            label: 'Eye',
                                            data: [{{ peri_min }}, {{ peri_max }}],
                                            backgroundColor: [
                                                'rgba(255, 99, 132, 0.2)',
                                                'rgba(255, 205, 86, 0.2)',

                                            ],
                                            borderColor: [
                                                'rgb(255, 99, 132)',

                                                'rgb(255, 205, 86)',

                                            ],
                                            borderWidth: 2
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            y: {
                                                beginAtZero: true
                                            }
                                        }
                                    }
                                });
                            });
                        </script>
                        <!-- End Bar CHart -->

                    </div>
                </div>
            </div>


            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body" style="height:375px;">
                        <h5 class="card-title">Distribution of Eye Colors</h5>

                        <!-- Donut Chart -->
                        <div id="donutChart"
                             style="min-height: 350px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;"
                             class="echart" _echarts_instance_="ec_1679563555511">
                            <div style="position: relative; width: 588px; height: 350px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;">
                                <canvas data-zr-dom-id="zr_0" width="588" height="370"
                                        style="position: absolute; left: 0px; top: 0px; width: 467px; height: 400px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas>
                            </div>
                            <div class=""
                                 style="position: absolute; display: block; border-style: solid; white-space: nowrap; z-index: 9999999; box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 10px; transition: opacity 0.2s cubic-bezier(0.23, 1, 0.32, 1) 0s, visibility 0.2s cubic-bezier(0.23, 1, 0.32, 1) 0s, transform 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s; background-color: rgb(255, 255, 255); border-width: 1px; border-radius: 4px; color: rgb(102, 102, 102); font: 14px / 21px &quot;Microsoft YaHei&quot;; padding: 10px; top: 0px; left: 0px; transform: translate3d(166px, 109px, 0px); border-color: rgb(84, 112, 198); pointer-events: none; visibility: hidden; opacity: 0;">
                                <div style="margin: 0px 0 0;line-height:1;">
                                    <div style="font-size:14px;color:#666;font-weight:400;line-height:1;">Access From
                                    </div>
                                    <div style="margin: 10px 0 0;line-height:1;">
                                        <div style="margin: 0px 0 0;line-height:1;"><span
                                                style="display:inline-block;margin-right:4px;border-radius:10px;width:10px;height:10px;background-color:#5470c6;"></span><span
                                                style="font-size:14px;color:#666;font-weight:400;margin-left:2px">Search Engine</span><span
                                                style="float:right;margin-left:20px;font-size:14px;color:#666;font-weight:900">1,048</span>
                                            <div style="clear:both"></div>
                                        </div>
                                        <div style="clear:both"></div>
                                    </div>
                                    <div style="clear:both"></div>
                                </div>
                            </div>
                        </div>

                        <script>
                            document.addEventListener("DOMContentLoaded", () => {
                                const colors = {{ colors|safe }};


                                const hexValues = colors.map(item => item.pred_hex);
                                const colourNames = colors.map(item => item.pred_name);

                                echarts.init(document.querySelector("#donutChart")).setOption({
                                    tooltip: {
                                        trigger: 'item',
                                        formatter: '{b} : {c} ({d}%)'
                                    },
                                    series: [{
                                        name: '',
                                        type: 'pie',
                                        radius: ['40%', '70%'],
                                        avoidLabelOverlap: false,
                                        label: {
                                            show: false,
                                            position: 'center'
                                        },
                                        emphasis: {
                                            label: {
                                                show: true,
                                                fontSize: '18',
                                                fontWeight: 'bold'
                                            }
                                        },
                                        labelLine: {
                                            show: false
                                        },
                                        data: hexValues.map((value, index) => {
                                            return {
                                                value: 1, // Each colour gets an equal share of the chart
                                                name: colourNames[index],
                                                itemStyle: {
                                                    color: value // Use the hex value as the colour
                                                }
                                            }
                                        })
                                    }]
                                });
                            });
                        </script>


                        <!-- End Donut Chart -->

                    </div>
                </div>
            </div>


            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ommatidium Range</h5>

                        <!-- Bubble Chart -->
                        <canvas id="bubbleChart"
                                style="max-height: 400px; display: block; box-sizing: border-box; height: 232.667px; width: 466.667px;"
                                width="700" height="349"></canvas>
                        <script>
                            document.addEventListener("DOMContentLoaded", () => {
                                new Chart(document.querySelector('#bubbleChart'), {
                                    type: 'bubble',
                                    data: {
                                        labels: ['January'],
                                        datasets: [{
                                            label: 'Ommatidium',
                                            data: [{% for d in data %}
                                                {
                                                    x: {{ d.0 }},
                                                    y: {{ d.1 }},
                                                },
                                            {% endfor %}],
                                            borderColor: 'rgb(255, 99, 132)',
                                            backgroundColor: 'rgba(255, 99, 132, 0.5)',
                                            radius: 3 // default bubble size
                                        }]
                                    },
                                    options: {
                                        responsive: true,
                                        plugins: {
                                            legend: {
                                                position: 'top',
                                            },
                                        },
                                        scales: {
                                            y: {
                                                ticks: {
                                                    callback: function (value, index, values) {
                                                        // convert value to integer
                                                        value = parseInt(value);
                                                        // if it's a whole number, return it, otherwise return an empty string
                                                        return Number.isInteger(value) ? value : '';
                                                    },
                                                    font: {
                                                        size: 14,
                                                    },
                                                    // set the angle of the y-axis labels
                                                    angle: -45,
                                                },
                                                // add the y-axis label
                                                title: {
                                                    display: true,
                                                    text: 'Serial Numbers',
                                                    font: {
                                                        size: 12
                                                    },
                                                },
                                            },
                                            x: {
                                                // add the x-axis label
                                                title: {
                                                    display: true,
                                                    text: 'Ommatidium Range',
                                                    font: {
                                                        size: 12
                                                    },
                                                },
                                            },
                                        },
                                    }
                                });
                            });

                        </script>
                        <!-- End Bubble Chart -->

                    </div>
                </div>
            </div>


            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Min and Max of Area</h5>

                        <!-- Bar Chart -->
                        <canvas id="barChartt"
                                style="max-height: 400px; display: block; box-sizing: border-box; height: 232.667px; width: 466.667px;"
                                width="700" height="349"></canvas>
                        <script>
                            document.addEventListener("DOMContentLoaded", () => {
                                new Chart(document.querySelector('#barChartt'), {
                                    type: 'bar',
                                    data: {
                                        labels: ['Min', 'Max'],
                                        datasets: [{
                                            label: 'Eye',
                                            data: [{{ area_min }}, {{ area_max }}],
                                            backgroundColor: [
                                                'rgba(255, 99, 132, 0.2)',
                                                'rgba(255, 205, 86, 0.2)',

                                            ],
                                            borderColor: [
                                                'rgb(255, 99, 132)',

                                                'rgb(255, 205, 86)',

                                            ],
                                            borderWidth: 2
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            y: {
                                                beginAtZero: true
                                            }
                                        }
                                    }
                                });
                            });
                        </script>
                        <!-- End Bar CHart -->

                    </div>
                </div>
            </div>


        </div>
    </section>


{% endblock %}