{% extends "base/head.html" %}

{% block content %}

    <div class="page-heading">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1><br>Thank You<br></h1>
                    <p>For your feedback<strong> {{ request.user.username|upper }}</strong>. Your input is
                        important to us and helps us to improve our
                        product/service. We appreciate your time and will take your comments into consideration as we
                        continue to work towards delivering a better experience for our users. </p>
                    <br>
                    <br>
                    <form>
                        <input type="button" class="btn btn-primary" value="Go back." onclick="history.back()">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
