{% extends "base/head_login.html" %}
{% block content %}

    <body>

    <main>
        <div class="container">

            <section
                    class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-8 d-flex flex-column align-items-center justify-content-center">

                            <div class="d-flex justify-content-center py-4">
                                <a href="index.html" class="logo d-flex align-items-center w-auto">
                                    <img src="assets/img/logo.png" alt="">
                                    <span class="d-none d-lg-block">AI System for D.M.</span>
                                </a>
                            </div><!-- End Logo -->

                            <div class="card mb-6">

                                <div class="card-body">

                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                                        <p class="text-center small">Enter your personal details to create account</p>
                                    </div>

                                    <form method="POST" class="row g-3 needs-validation" novalidate>
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        {% if form.errors %}
                                            <div class="alert alert-danger">
                                                {% if form.errors.username %}
                                                    {{ form.errors.username }}
                                                {% endif %}
                                                {% if form.errors.password1 %}
                                                    {{ form.errors.password1 }}
                                                {% endif %}

                                                {% if form.errors.password2 %}
                                                    {{ form.errors.password2 }}
                                                {% endif %}
                                            </div>
                                        {% endif %}

                                        <div class="col-12">
                                            <button class="btn btn-primary w-100" type="submit">Create Account</button>
                                        </div>
                                        <div class="col-12">
                                            <p class="small mb-0">Already have an account? <a href="login">Log in</a>
                                            <p class="small mb-0">Don't need an account? <a href="/">Continue</a>

                                            </p>
                                        </div>
                                    </form>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </section>

        </div>
    </main><!-- End #main -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>


    </body>

{% endblock %}
