{% extends "base/head.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <div class="horizontal">
                    <div class="verticals ten offset-by-one">

                        <ol class="breadcrumb breadcrumb-fill2">
                            <li><a href="/"><i class="fa fa-home"></i></a></li>
                            <li><a href="/w_dimen">Wing Dimensions</a></li>
                            <li><a> / </a></li>
                            <li><a href="/w_dimen2">Input</a></li>
                            <li><a> / </a></li>
                            <li><a href="javascript:history.go(-3)">Editor</a></li>
                            <li><a> / </a></li>
                            <li><a href="javascript:history.go(-2)"
                            >OPV</a></li>
                            <li><a> / </a></li>
                            <li><a href="javascript:history.back()">Results</a></li>
                            <li><a> / </a></li>
                            <li class="active">Detailed steps</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="right-image">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 ">
                    <div class="left-content">
                        <h4>Original Image</h4>
                        <div class="col-md-10">
                            <p align="justify">All acquired images were preprocessed using a standard scaling function
                                to ensure uniformity
                                in the system and optimize the quality of the results. Image transformation techniques
                                were
                                employed to rescale the images to a common size, which is a common preprocessing step in
                                computer vision applications. This preprocessing step is important because it
                                standardizes
                                the input data and reduces variations in image size and aspect ratio, which can impact
                                the
                                performance of subsequent algorithms.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-10">
                        <img src={{ img1 }} alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="right-image">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="left-content">
                        <h4>Blur & Greyscale Image</h4>
                        <div class="col-md-10">
                            <p align="justify">The colored image was subjected to blurring to reduce noise and improve
                                image quality.
                                Subsequently, it was converted to a grayscale image, a common technique used in image
                                processing and computer vision applications. To balance the intensity level of the
                                grayscale
                                image, contrast enhancement techniques were applied, such as histogram equalization,
                                which
                                redistributes the intensity values of the image to a more uniform distribution. This
                                process
                                improves the visual quality and the subsequent analysis of the image.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-10">
                        <img src={{ img3 }} alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="right-image">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="left-content">
                        <h4>Binary Image</h4>
                        <div class="col-md-10">
                            <p align="justify">The system image was thresholded using a binary conversion technique to
                                create a binary image
                                where each pixel was assigned a binary value based on whether its intensity value was
                                above
                                or below a certain threshold value. This threshold value was chosen such that all the
                                veins
                                were properly connected, and the unwanted pixels were removed. This binary image was
                                then
                                used for segmentation, which is the process of dividing an image into meaningful regions
                                or
                                objects, allowing for more accurate analysis and interpretation.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-10">
                        <img src={{ img2 }} alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="right-image">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="left-content">
                        <h4>Skeletonize Image</h4>
                        <div class="col-md-10">
                            <p align="justify">
                                Due to the presence of disconnected veins, the vein lines became thick, making it
                                difficult
                                to extract meaningful information. To address this issue, a skeletonization operation
                                was
                                performed to thin out the vein lines while preserving the topology and connectivity of
                                the
                                structure. The skeletonization process reduces the shape of the vein to a series of
                                connected points or lines that represent the main structure of the vein. This step is
                                important for capturing the accurate shape and morphology of the vein structure, which
                                is
                                essential for subsequent analysis and interpretation.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-10">
                        <img src={{ img4 }} alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="right-image">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="left-content">
                        <h4>Dilated & Skeletonize Image</h4>
                        <div class="col-md-10">
                            <p align="justify">After skeletonization, the resulting image contained a thin
                                representation of the vein
                                structure. To enhance the visibility of the vein regions, a dilation operation was
                                applied.
                                Dilation is a morphological operation that expands the boundaries of objects in an
                                image,
                                resulting in larger and more prominent regions. In this case, dilation was applied to
                                the
                                skeletonized image to increase the thickness of the vein structure and highlight the
                                regions
                                of interest.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-10">
                        <img src={{ img5 }} alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="right-image">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="left-content">
                        <h4>Coloured regions with labels Image</h4>
                        <div class="col-md-10">
                            <p align="justify">
                                To segment the wing structure, a watershed algorithm was applied to the dilated image.
                                The
                                watershed algorithm partitions an image into distinct segments by flooding the image
                                from
                                specified markers or seed points. In this case, the seed points were selected manually
                                to
                                define the boundaries of the wing segments. Each segment was assigned a unique label,
                                and
                                color was added to distinguish the segments visually. The total number of pixels in each
                                segment was then extracted, which were later converted to area and perimeter using
                                mathematical operations.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-10">
                        <img src={{ img6 }} alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="right-image">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="left-content">
                        <h4>Coloured wing Image</h4>
                        <div class="col-md-10">
                            <p align="justify">
                                To compute the area and perimeter of the entire object, the boundaries of the object
                                were
                                extracted using edge detection algorithms. The edge detection algorithm identifies the
                                edges
                                or boundaries of the object based on changes in the intensity values of neighboring
                                pixels.
                                Once the boundaries were identified, the area and perimeter of the entire object were
                                calculated using mathematical operations.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-10">
                        <img src={{ img7 }} alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <form>
        <input type="button" class="btn btn-primary" value="Go back!" onclick="history.back()">
    </form>
{% endblock %}